/* .loader-text {
  text-align: center;
}
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
} */

/** FIRST LOADER BEAR*/

.loader {
  position: relative;
  animation: flix 5s ease-in infinite alternate;
  /* margin-left: auto;
  margin-right: auto; */
}
.loader:before {
  content: '';
  display: block;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(
      circle 12px at 22px 22px,
      #ff3d00 100%,
      transparent 0
    ),
    radial-gradient(circle 10px at 6px 40px, #ff3d00 100%, transparent 0),
    radial-gradient(circle 14px at 31px -6px, #ff3d00 100%, transparent 0),
    radial-gradient(circle 5px at 40px 30px, #ff3d00 100%, transparent 0);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 50%;
  width: 24px;
  height: 12px;
  background: #fff;
  border-radius: 50px 50px 0 0;
}

@keyframes flix {
  0%,
  60% {
    transform: rotate(-10deg);
  }
  100%,
  30%,
  80% {
    transform: rotate(5deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/** SECOND LOADER BEAR*/
/* 
.loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: #fff;
  border-radius: 100px 100px 0 0;
  margin-left: auto;
  margin-right: auto;
}
.loader:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
} */

/** ANOTHER ONE */
